@use "@/styles/_variables.scss" as v;

.list_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  > div {
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    input {
      width: 100%;
      height: 60px;
      background-color: v.$bg_dark_soft;
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 60px;
      color: v.$default_white;

      &::placeholder {
        color: rgb(v.$default_white, 0.4);
      }
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      outline: none;
      border: none;
      height: 30px;
      width: 30px;
      padding: 0;
      line-height: 1;
      text-align: center;
      border-radius: 100%;
      color: rgb(v.$default_white, 0.4);
      border: rgb(v.$default_white, 0.4) solid 2px;
      background-color: transparent;
      font-size: 1.4rem;
      font-weight: 600;
      transition: ease-in 0.2s;

      &:not(&:disabled):hover {
        cursor: pointer;
        color: rgb(v.$default_white, 0.6);
        border-color: rgb(v.$default_white, 0.6);
      }

      &:disabled {
        cursor: not-allowed;
        color: rgb(v.$default_white, 0.4);
      }
    }
  }

  .list_items {
    background-color: v.$bg_dark_soft;

    .item {
      border-bottom: 0.05rem solid rgb(v.$default_white, 0.2);
      height: 60px;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 0 15px;

      &:last-child {
        border: none;
      }

      input[type="checkbox"] {
        color: transparent;
        -webkit-appearance: none;
        height: 25px;
        width: 25px !important;
        padding: 0;
        border-radius: 100px;
        background: transparent;
        border: 0.1rem solid rgb(v.$default_white, 0.4);
        cursor: pointer;
        position: relative;

        &:checked::before {
          color: v.$default_white !important;
        }

        &::before {
          content: "✔";
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:checked {
          background: v.$bg_linear;

          + label {
            text-decoration: line-through;
          }
        }
      }

      label {
        font-size: 1rem;
        color: rgb(v.$default_white, 0.8);
      }
    }
  }
}
