$default_white: #fffffd;
$word_highlight: #5676bf;

$bg_dark: #181824;
$bg_dark_soft: #25273c;
$bg_linear: linear-gradient(to bottom right, #71b8f8, #c474f6);

$bg-img: url("./../assets/bg-desktop-dark.jpg");
$bg_check: url("./../assets/fe_check.png");
